{% load staticfiles %}
<!DOCTYPE Html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>Branch Change Form</title>
<!-- Bootstap CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
<!-- jQuery library -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Latest compiled JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Input Validation Java Script -->
<script src = "{% static 'js/inputvalidation.js' %}"></script>
<!-- Dynamic prefernce -->
<script src= "{% static 'js/dynamicadd.js' %}"></script>
<!-- BOOTSTRAP VALIDATORS -->
<link href = "{% static 'Validator/bootstrapvalidator.css' %}" rel = "stylesheet">

<script src = "{% static 'Validator/bootstrapvalidator.js' %}" > </script>

<script src="{% static 'js/angular.js' %}"></script>

</head>