{% load staticfiles %}
{% include 'head.html' %}

<body>

{% include 'nav.html' %}

<div class = "container" >
<div class="img-responsive col-sm-offset-4" alt="Cinque Terre" >
<img src = "{% static 'img/image.jpeg' %}"  style = "width:45%" >
</div>

<form class = "form-horizontal" method ="post" action = "{% url 'auth_view' %}"> {% csrf_token %}
   
   <div class ="form-group">
   <label class="control-label col-sm-4 col-md-4 col-xs-4">Username</label>
    <div class="col-sm-4 col-md-4 col-xs-4">
   <input type = "text" class = "form-control" placeholder = "Username" name = "username">
   </div>
   </div>

   <div class ="form-group">
   	<label class="control-label col-sm-4 col-md-4 col-xs-4">Password</label>
    <div class="col-sm-4 col-md-4 col-xs-4 selectContainer">
    <input type = "password" class = "form-control" placeholder = "Password" name = "password">   
    </div>
    </div>

{% if messages %}
<div class = "col-sm-4 col-sm-offset-4 col-md-4 col-xs-4" >
<div class="alert alert-danger">
{% for message in messages %}
        {{ message|safe }}
{% endfor %}
</div>
</div>
{% endif %}
<div class="form-group">
   <div class="col-sm-4 col-md-4 col-xs-4 col-sm-offset-4 text-center">
 <button class="btn btn-info btn-md " type = "submit">Login</button>
 </div>
 </div>
   </form>

   </div>

</body>
</html>